{% extends "_site" %}

{% block main %}
    <div id="fullpage" class="fullpage-wrapper">
        <div class="section fp-section fp-table fp-completely" id="section0">
            <div class="fp-tableCell">
                <video id="myVideo" loop muted data-autoplay>
                    <source src="{{ siteUrl }}assets/video/retroMix.mp4" type="video/mp4">
                    <source src="{{ siteUrl }}assets/video/retroMix.webm" type="video/webm">
                </video>
                <div class="title-layer col-lg-8 mx-auto align-self-center pt-10 text-center text-white">
                    <h2 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Tom Hanson</h2>
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">{{ entry.introHeading }}</h1>
                    <p class="lead-2 mt-6 mb-8 px-sm-0 px-xl-13 wow fadeInUp" data-wow-duration="1s"
                       data-wow-delay="3s">{{ entry.introText }}</p>
                </div>
            </div>
        </div>
        <div class="section fp-auto-height-responsive">
            <div class="container">
                <header class="section-header text-white">
                    <h2>Work Highlights 2018</h2>
                </header>


                <div data-provide="shuffle">
                    <ul class="nav nav-center nav-bold nav-uppercase nav-pills1 nav-dot mb-7" data-shuffle="filter">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-shuffle="button">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-shuffle="button" data-group="bag">Bag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-shuffle="button" data-group="box">Box</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-shuffle="button" data-group="book">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-shuffle="button" data-group="bottle">Bottle</a>
                        </li>
                    </ul>


                    <div class="row gap-y" data-shuffle="list">

                        <div class="col-md-4" data-shuffle="item" data-groups="bag,box">
                            <a class="hover-move-up" href="#">
                                <img src="{{ siteUrl }}assets/img/placeholder.jpg" alt="screenshot">
                                <div class="text-center pt-5">
                                    <h5 class=" project mb-0">Phone Bag</h5>
                                    <small class="small-5 text-lightest text-uppercase ls-2">Bag, Box</small>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-4" data-shuffle="item" data-groups="book">
                            <a class="hover-move-up" href="#">
                                <img src="{{ siteUrl }}assets/img/placeholder.jpg" alt="screenshot">
                                <div class="text-center pt-5">
                                    <h5 class="fw-5001 project-title mb-0">Mockup Book</h5>
                                    <small class="small-5 text-lightest text-uppercase ls-2">Book</small>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-4" data-shuffle="item" data-groups="box">
                            <a class="hover-move-up" href="#">
                                <img src="{{ siteUrl }}assets/img/placeholder.jpg" alt="screenshot">
                                <div class="text-center pt-5">
                                    <h5 class="fw-5001 mb-0">T-shirt</h5>
                                    <small class="small-5 text-lightest text-uppercase ls-2">Box</small>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-4" data-shuffle="item" data-groups="bottle">
                            <a class="hover-move-up" href="#">
                                <img src="{{ siteUrl }}assets/img/placeholder.jpg" alt="screenshot">
                                <div class="text-center pt-5">
                                    <h5 class="fw-5001 mb-0">Coffee</h5>
                                    <small class="small-5 text-lightest text-uppercase ls-2">Bottle</small>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-4" data-shuffle="item" data-groups="bottle">
                            <a class="hover-move-up" href="#">
                                <img src="{{ siteUrl }}assets/img/placeholder.jpg" alt="screenshot">
                                <div class="text-center pt-5">
                                    <h5 class="fw-5001 mb-0">Shampoo</h5>
                                    <small class="small-5 text-lightest text-uppercase ls-2">Bottle</small>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-4" data-shuffle="item" data-groups="bag">
                            <a class="hover-move-up" href="#">
                                <img src="{{ siteUrl }}assets/img/placeholder.jpg" alt="screenshot">
                                <div class="text-center pt-5">
                                    <h5 class="fw-5001 mb-0">Paper Bag</h5>
                                    <small class="small-5 text-lightest text-uppercase ls-2">Bag</small>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="section">
            <div class="slide" data-anchor="slide1">Two 1</div>
            <div class="slide" data-anchor="slide2">Two 2</div>
        </div>

        <div class="section" id="jungle-fixed">
            <p>TEST</p>
        </div>
    </div>

    <script>

        new fullpage('#fullpage', {
            sectionsColor: ['black', '#231F20'],
            responsiveWidth: 1100,
            afterResponsive: function (isResponsive) {

            }
        });
    </script>

{% endblock %}