<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <title>{% if title is defined %}{{ title }} - {{ siteName }}{% else %}{{ entry.title }} - {{ siteName }}{% endif %}</title>

        <!-- Styles -->

        <link href="{{ siteUrl }}assets/css/fullpage.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ siteUrl }}assets/css/animate.css">
        <link href="{{ siteUrl }}assets/css/page.min.css?v=1.1" rel="stylesheet">



    {% endblock %}
    {#"nystudio107/craft-seomatic": "3.1.20",#}
    {# {% hook 'seomaticRender' %}#}
    <script src="{{ siteUrl }}assets/js/scrollreveal.min.js" type="text/javascript"></script>
    <script src="{{ siteUrl }}assets/js/fullpage.min.js"></script>
    <script src="{{ siteUrl }}assets/js/wow.js"></script>
</head>

<body>

<div class="site-overlay"></div>

{% block body %}{% endblock %}
{% block foot %}
{% endblock %}

<!-- Scripts -->
<script src="{{ siteUrl }}assets/js/wow.js"></script>
<script src="{{ siteUrl }}assets/js/page.min.js?v=1.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
<script>
    new WOW().init();
</script>

</body>
</html>
